<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="@angular-material-extensions/link-preview logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>@angular-material-extensions/link-preview</h1>
        <p>Angular open source UI library to preview web links</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/angular-material-extensions/link-preview"
             target="_blank"><i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
          <a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i
            class="fa fa-bolt fa-lg"></i> Edit on StackBlitz</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container" fxFlex.xs="100" fxFlex.sm="70" fxFlex="50">
    <div fxLayout="column" fxLayoutAlign="center">

      <mat-form-field class="demo-full-width" appearance="outline">
        <mat-label>Enter here your text here with few links to preview ;)</mat-label>
        <textarea matInput matTextareaAutosize matLinkPreview minRows="6"></textarea>
        <mat-link-preview-container [multiple]="true" color=""></mat-link-preview-container>
      </mat-form-field>

      <mat-card>
        <mat-card-title>Code</mat-card-title>
        <mat-card-content>
          <markdown src="assets/md/e1.md"></markdown>
        </mat-card-content>
      </mat-card>

      <!--<mat-link-preview [linkPreview]="linkExample"></mat-link-preview>-->

      <p>Happy ng-hacking!</p>
    </div>
  </div>
</section>
