<ng-container *ngIf="!this.linkPreview && !this.loaded && this.showLoadingsProgress;then fetch else preview">
</ng-container>
<ng-template #preview>
  <mat-card *ngIf="this.linkPreview">
    <mat-card-content class="cut-text">
      <div class="img-container" *ngIf="linkPreview.image">
        <img mat-card-image [src]="linkPreview?.image">
      </div>
      <div>
        <mat-card-title>{{linkPreview?.title}}</mat-card-title>
        <mat-card-subtitle>{{linkPreview?.description}}</mat-card-subtitle>
        <a [href]="linkPreview?.url" mat-button [color]="color">{{linkPreview?.url}}</a>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #fetch>
  <mat-spinner *ngIf="!this.hasError"></mat-spinner>
</ng-template>
