<div class="center-auto" *ngIf="!this.linkPreview && !this.loaded && this.showLoadingsProgress">
  <mat-spinner></mat-spinner>
</div>
<mat-card>
  <mat-card-content>
    <div class="img-container">
      <img mat-card-image [src]="linkPreview?.image">
    </div>
    <div>
      <mat-card-title>{{linkPreview?.title}}</mat-card-title>
      <mat-card-subtitle>{{linkPreview?.description}}</mat-card-subtitle>
      <a [href]="linkPreview?.url" mat-button [color]="color">{{linkPreview?.url}}</a>
    </div>
  </mat-card-content>
</mat-card>
